doctype html
html(lang="en")
  
  include ./includes/head.jade 
    
  body
    
    include ./includes/header.jade

    .content

      h1 this is the content section
    include ./includes/footer.jade 
